version: "3.7"

services:
  redis:
    image: Zayt/pythia-engbot:20230623-b616ded5
    container_name: pythia-engbot
    restart: always
    volumes:
      - "./log:/src/app/log"
    ports:
      - "5800:8000"